<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Menu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item @(ViewBag.ActivePage == "home" ? "active" :"")">
                    <a class="nav-link" href="/Home/Index">Home</a>
                </li>
                <li class="nav-item  @(ViewBag.ActivePage == "create-tickets" ? "active" :"")">
                    <a class="nav-link" href="/Home/CreateTicket">Ticket creation</a>
                </li>               
                <li class="nav-item  @(ViewBag.ActivePage == "liste-tickets" ? "active" :"")">
                    <a class="nav-link" href="/Home/ListeTickets">Ticket list</a>
                </li>
                
            </ul>
        </div>
    </nav>

    @RenderBody()


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
